.App {
  padding: 1em;
  width: 50%;
}

.gift-card-check {
  float: left;
  margin-right: 10px;
}

.gift-card-form {
  margin: 1em 0 1em 0;
}


.hide-form {
  display: none;
}

.saved-card {
  background-color: lightgray;
  margin: 10px 0 10px 0;
  font-size: 0.75em;
  padding: 10px;
}

.saved-card label {
  display: block;
  font-weight: bold;
}

.saved-card .amount {
  text-align: right;
}

.show-saved {
  display: none;
}

.gc-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.gc-inputs input {
  padding: 10px;
}

.gc-inputs button {
  background-color: black;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin: 10px;
}

.error input {
  border-style: bold;
  border-color: red;
}